@model Northwind.EntityModels.Category
@{
    ViewData["Title"] = "Category Detail - " + Model.CategoryId;
}
<h2>Category details</h2>

<dt>Category Id</dt>
<dd>@Model.CategoryId</dd>
<dd>@Model.CategoryName</dd>
<dd>@Model.Description</dd>

<dd>
    @foreach (var product in Model.Products)
    {
        <li>@product.ProductName</li>
    }
</dd>

